<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link href="{{ asset('bundles/acmedemo/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">GitHub API Example</a>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#about">Users</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}

        {% endblock %}
    </body>
</html>
